<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="resources/favicon_io/site.webmanifest">
    <title>Five Tribes: The Djinns Of Naqala Board Game Score Calculator</title>
    <link rel="stylesheet" href="libs/balm-ui@10.6.0/dist/balm-ui.css" />
    <link href="libs/fontawesome-free-6.1.1-web/css/all.min.css" rel="stylesheet">
    <style>
        .scoreBlock {
            margin: 15px;
        }
        .playerScoreSection {
            background-color: lightsteelblue;
        }
    </style>
</head>
<body>
<div id="app" class="scoreBlock">
    <ui-button v-for="locale in locales" :outlined="selectedLocale === locale" @click="setLocale(locale)">{{ locale }}</ui-button>
    <h4 :class="$tt('headline4')"><img src="resources/favicon_io/favicon-32x32.png"> {{ messages.title }}</h4>
    <h5 :class="$tt('headline5')">
        {{ messages.subtitle }}
        <a v-button href="https://github.com/bdream/five-tribes-board-game-calculator">
            <i class="fa-brands fa-github"></i> {{ messages.sourceCode }}
        </a>
    </h5>
    <div v-for="player in players" v-shape="'10px'" class="playerScoreSection">
        <h6 :class="$tt('headline6')" class="scoreBlock">{{ getLabel(messages.player[player.id]) }} ({{ player.totalScore }})</h6>
        <ui-collapse class="scoreBlock">
            <template #toggle>
                <ui-button raised><i class="fa-solid fa-hand-pointer"></i> {{ messages.setPlayerResults }}</ui-button>
            </template>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fas fa-coins"></i> {{ messages.goldCoinsScore }} ({{ player.goldCoinsScore }})
                </div>
                <ui-textfield
                        input-type="number"
                        v-model="player.goldCoinsCount"
                        @input="scoreTotal(player)"
                >
                    {{ messages.goldCoinsAmount }}
                </ui-textfield>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-solid fa-person-military-pointing"></i> {{ messages.viziersScore }} ({{ player.viziersScore }})
                </div>
                <ui-badge :state="player.vizierVPs === settings.DEFAULT_VIZIER_VICTORY_POINTS ? 'info' : 'success'">
                    <ui-textfield
                            input-type="number"
                            v-model="player.viziersCount"
                            @input="scoreTotal(player)"
                    >
                        {{ messages.yellowMeeplesNumber }}
                    </ui-textfield>
                    <template #badge>
                        <i class="fa-solid fa-xmark"></i> {{ player.vizierVPs }}
                    </template>
                </ui-badge>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-solid fa-hat-wizard"></i> {{ messages.eldersScore }} ({{ player.eldersScore }})
                </div>
                <ui-badge :state="player.elderVPs === settings.DEFAULT_ELDER_VICTORY_POINTS ? 'info' : 'success'">
                    <ui-textfield
                            input-type="number"
                            v-model="player.eldersCount"
                            @input="scoreTotal(player)"
                    >
                        {{ messages.whiteMeeplesNumber }}
                    </ui-textfield>
                    <template #badge>
                        <i class="fa-solid fa-xmark"></i> {{ player.elderVPs }}
                    </template>
                </ui-badge>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fas fa-oil-can"></i> {{ messages.djinniesScore }} ({{ player.djinniesScore }})
                </div>
                <ui-collapse>
                    <template #toggle>
                        <ui-button outlined><i class="fa-solid fa-hand-pointer"></i> {{ messages.selectDjinnies }} </ui-button>
                    </template>
                    <ui-tree
                            v-model="player.selectedDjinns"
                            :data="settings.DJINN_TREE_DATA"
                            :data-format="settings.DJINN_TREE_DATA_FORMAT"
                            :max-level="1"
                            multiple
                            @click="scoreTotal(player)"
                    >
                        <template #title="{ data }"> {{ getLabel(messages.djinnName[data.key.name], data.key.value) }} </template>
                    </ui-tree>
                </ui-collapse>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-solid fa-tree"></i> {{ messages.palmTreesScore }} ({{ player.palmTreesScore }})
                </div>
                <ui-badge :state="player.palmTreeVPs === settings.DEFAULT_PALM_TREE_VICTORY_POINTS ? 'info' : 'success'">
                    <ui-textfield
                            input-type="number"
                            v-model="player.palmTreesCount"
                            @input="scoreTotal(player)"
                    >
                        {{ messages.palmTreesNumber }}
                    </ui-textfield>
                    <template #badge>
                        <i class="fa-solid fa-xmark"></i> {{ player.palmTreeVPs }}
                    </template>
                </ui-badge>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-brands fa-fort-awesome"></i> {{ messages.palacesScore }} ({{ player.palacesScore }})
                </div>
                <ui-badge state="info">
                    <ui-textfield
                            input-type="number"
                            v-model="player.palacesCount"
                            @input="scoreTotal(player)"
                    >
                        {{ messages.palacesCount }}
                    </ui-textfield>
                    <template #badge>
                        <i class="fa-solid fa-xmark"></i> {{ player.palaceVPs }}
                    </template>
                </ui-badge>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-solid fa-horse-head"></i> {{ messages.playerTilesScore }} ({{ player.playerTilesScore }})
                </div>
                <ui-collapse>
                    <template #toggle>
                        <ui-button outlined><i class="fa-solid fa-hand-pointer"></i> {{ messages.selectPlayerTiles }} </ui-button>
                    </template>
                    <ui-chips id="input-player-tile-chip-set" type="input">
                        <ui-chip
                                v-for="item in player.playerTiles"
                                :key="item.id"
                                deletable
                                @remove="removePlayerTileById(player, item.id)"
                        >
                            <i class="fa-solid" :class="item.tileClass"></i> {{ item.tileVPs }}
                        </ui-chip>
                    </ui-chips>
                    <ui-list>
                        <ui-item v-for="tileVPs in settings.TILE_VICTORY_POINTS_VALUES" @click="addPlayerTile(player, tileVPs)">
                            <ui-item-first-content>
                                <ui-icon><i class="fa-solid fa-circle-plus"></i></ui-icon>
                            </ui-item-first-content>
                            <ui-item-text-content>{{ getLabel(messages.addVPsTile, tileVPs) }}</ui-item-text-content>
                        </ui-item>
                    </ui-list>
                </ui-collapse>
            </div>
            <div class="scoreBlock">
                <div :class="$tt('subtitle1')">
                    <i class="fa-solid fa-store"></i> {{ messages.merchandiseScore }} ({{ player.merchandiseCardSuitsScore }})
                </div>
                <ui-collapse>
                    <template #toggle>
                        <ui-button outlined><i class="fa-solid fa-hand-pointer"></i> {{ messages.selectMerchandiseCardSuits }} </ui-button>
                    </template>
                    <ui-chips id="input-merchandise-card-suit-chip-set" type="input">
                        <ui-chip
                                v-for="item in player.merchandiseCardSuits"
                                :key="item.id"
                                deletable
                                @remove="removeMerchandiseCardSuitById(player, item.id)"
                        >
                            <i class="fa-solid fa-layer-group"></i> {{ getLabel(messages.merchandiseCardSuit, item.size, item.victoryPoints) }}
                        </ui-chip>
                    </ui-chips>
                    <ui-list>
                        <ui-item v-for="suitSize in 9" @click="addMerchandiseCardSuit(player, suitSize)">
                            <ui-item-first-content>
                                <ui-icon><i class="fa-solid fa-circle-plus"></i></ui-icon>
                            </ui-item-first-content>
                            <ui-item-text-content>{{ getLabel(messages.addMerchandiseCardSuit, suitSize) }}</ui-item-text-content>
                        </ui-item>
                    </ui-list>
                </ui-collapse>
            </div>
        </ui-collapse>
    </div>
    <div class="scoreBlock">
        <ui-fab @click="this.addPlayer" extended><i class="fa-solid fa-plus"></i> {{ messages.addPlayer }} </ui-fab>
    </div>
    <ui-divider>{{ messages.totalScore }}</ui-divider>
    <div class="scoreBlock">
        <h5 v-for="player in players" :class="$tt('headline5')" class="scoreBlock">{{ getLabel(messages.player[player.id]) }}: {{ player.totalScore }}</h5>
    </div>
    <div style="left: 0;" >
        <ui-button v-button href="https://github.com/bdream">
            <i class="fa-solid fa-laptop-code"></i> {{ messages.developer }} Dmitry Belov
        </ui-button>
        <ui-button v-button href="https://vk.com/elena_petrova15">
            <i class="fa-solid fa-language"></i> {{ messages.localizer }} Eleva Petrova
        </ui-button>
    </div>
</div>
<script src="libs/vue@3.2.36/dist/vue.global.prod.js"></script>
<script src="libs/balm-ui@10.6.0/dist/balm-ui.js"></script>
<script src="libs/balm-ui@10.6.0/dist/balm-ui-plus.js"></script>
<script src="js/settings.js"></script>
<script src="js/localizations.js"></script>
<script src="js/main.js"></script>
</body>
</html>